<!DOCTYPE html>
<html lang="vi">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>{{ title }}</title>
<link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
<div class="wrap">
{{ content | safe }}
</div>
</body>
</html>
